@media only screen and (min-width: 1365px) {
    .main-container{
        margin:0 auto;
        min-width:1364px;
        padding:0 2%;
        width:96%;
    }
    .recommend-section .quote_item {
        vertical-align: middle;
        margin: 0 47px;
        float: left;
        width: 280px;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1364px){
    .main-container{
        max-width:1364px;
        width:96%;
        min-width:1024px;
        padding:0 2%;
    }
}

@media only screen and (max-width: 1280px){
    .recommend-section .quotes_container {
        height: 360px;
        width: 100%;
        width: 1024px;
        margin: 0 auto;
    }
    .recommend-section .image_wrapper.quotes{
        width:79px;
    }
    .recommend-section .user {
        width:240px;
    }
    .recommend-section .quote_item {
        vertical-align: middle;
        margin: 0 17.5px;
        float: left;
        width: 240px;
    }
}



