@media only screen and (min-width: 1365px) {
    .main-container{
        margin:0 auto;
        min-width:1364px;
        padding:0 2%;
        width:96%;
    }
    .recommend-section .quote_item {
        vertical-align: middle;
        margin: 0 32.5px;
        float: left;
        width: 280px;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1364px){
    .main-container{
        /*max-width:1364px;
        width:96%;*/
        width:1024px;
        padding:0 2%;
        margin: 0 auto;
    }

    .navigation .logo{
        margin-left:8%;
    }

    .recommend-section .quote_item .user {
        padding: 27px 25px;
    }

    .team-head .one-column{
        width: 45%;
    }

    .team-head .two-column{
        width: 45%;
    }

    .team-head p{
        font-size: 22px;
    }

        /* line 830, ../sass/style.scss */
    .team-features .list-inline {
        margin-left: 0;
        padding-left: 0;
    }

    /* line 858, ../sass/style.scss */
    .description {
        width: 254px;
    }

    /* line 862, ../sass/style.scss */
    .description h3 {
        font-size: 36px;
        margin-bottom: 35px;
    }

    /* line 867, ../sass/style.scss */
    .description p {
        font-size: 16px;
    }

    .team-items .section-text{
        width: 100%;
        margin: 0;
        left: 0;
        right:0;
    }

    /* line 904, ../sass/style.scss */
    .team-performance .one-column {
        right: 0;
        bottom: 0;
        width: 45%;
    }

    /* line 909, ../sass/style.scss */
    .team-performance .two-column {
        width: 45%;
        right: 0;
        position: relative;
    }

    .team-balance .one-column,.team-balance .two-column,.team-comparison .two-column{
        left: 0;
    }

    .team-motivate .one-column, .team-motivate .two-column, .team-balance .one-column,
    .team-balance .two-column, .team-comparison .one-column, .team-comparison .two-column,
    .team-planning .one-column, .team-planning .two-column, .team-shop .one-column, .team-shop .two-column,
    .player .one-column, .buy-first .one-column, .buy-first .two-column,
    .buy-third .one-column, .buy-third .two-column, .positions .one-column, .positions .two-column {
        width: 45%;
        margin: 0!important;
        position: relative;
        right: 0;
        left: 0;
        top:0;
        bottom: 0;
    }


    .team-balance{
        padding: 108px 0;
    }

    .team-balance .image_wrapper.balance-image img{
        height: 100%;
    }

    .team-planning .two-column{
        left: 0;
        bottom: 0;
    }

    .team-performance .image_wrapper.image-performance,.team-balance .image_wrapper.balance-image,.team-balance .image_wrapper.balance-image,
    .team-motivate .image_wrapper.motivate-image,.team-planning .image_wrapper.planing-image,.team-comparison .image_wrapper.comparison-image,
    .team-shop .image_wrapper.buy-image, .buy-third .image_wrapper.buy-section-image{
        width:100%;
    }

    .team-motivate .image_wrapper.motivate-image{
        margin-right: 0;
    }


    .team-shop .image_wrapper.buy-image img{
        height: auto;
    }

    /* line 917, ../sass/style.scss */
    .team-items .section-text p {
        font-size: 20px;
    }

    .team-items .section-text h3{
        font-size: 22px;
    }

    .team-motivate .section-text{
        margin-top: 60px;
    }

    .team-balance .section-text{
        margin-top: 60px;
    }

    .team-planning .image_wrapper{
        margin-top: 75px;
    }

    .player .one-column{
        width: 45%;
    }


    .player .image_wrapper.player-head{
        width: 100%;
    }

    .buy-first .image_wrapper.buy-image-header{
        width: 100%;
        height: 383px;
        margin-right: 0;
        margin-top: 75px;
    }

    .buy-first .one-column{
        width: 45%;
    }


    .player .two-column{
        width: 52%;
        margin: 0!important;
        position: relative;
        right: 0;
        left: 0;
        top:120px;
        bottom: 0;
    }

    .player h1{
        font-size: 56px;
    }

    .player p{
        font-size: 22px;
    }

    .player .myBtn{
        width: 160px;
    }

    .player input{
        width: 330px;
    }

}

@media only screen and (max-width: 1280px){
    .recommend-section .quotes_container {
        height: 360px;
        width: 100%;
        width: 1024px;
        margin: 0 auto;
    }
    .recommend-section .image_wrapper.quotes{
        width:79px;
    }
    .recommend-section .user {
        width:240px;
    }
    .recommend-section .quote_item {
        vertical-align: middle;
        margin: 0 17.5px;
        float: left;
        width: 240px;
    }
}



