@screenWidth:@sw;
@screenHeight:@sh;


@mainContainerWidth: @screenWidth;
@marginLeft_170: round(@screenWidth / 8);
@width_300: round(@screenWidth / 4.54);
@width_270: round(@screenWidth / 5.05);

/* padding */
@padding_15: ceil(@screenWidth / 90);


/* margin */
@marginLeft_170: round(@screenWidth / 8);
@margin_5: ceil(@screenWidth / 272.8);

/* navbar */
@navBarWidth: @width_300;

/* navbar image */
@navBarImageWidth: @width_270;